.react-datepicker {
  position: fixed;
  font-size: 1.0rem;
}

.rv-xy-plot__axis__tick:last-of-type {
   text {
     transform: translate(-8px, 5px);
   }
 }

 .rv-xy-plot__axis__tick:first-of-type {
   text {
     transform: translate(-8px, -5px);
   }

 }

.rv-xy-plot__inner {
  overflow: visible;
  margin: 2em;
}

svg:not(:root) {
  overflow: visible
}
